@import '~styles/colors';

.molecule_progress-bar-label {
	position: absolute;
	top: 0;
	font-size: 10px;
	font-weight: 500;
	color: $white;
	&.molecule_progress-bar-label-left {
		left: 2px;
	}
	&.molecule_progress-bar-label-right {
		right: 2px;
	}
}
