@import '~styles/colors';

$text-margin: 8px;

.molecule_progress-bar {
	position: relative;
	margin-bottom: $text-margin;

	.molecule_progress-bar-label {
		position: absolute;
		top: $text-margin;
		font-size: 12px;
		font-weight: 400;
		color: $icon_color;
		&.molecule_progress-bar-label-left {
			left: 0;
		}
		&.molecule_progress-bar-label-right {
			right: 0;
		}
	}
}
