@import '~styles/colors';
.molecule_progress-bar {
	position: relative;
	margin-bottom: 5px;

	.molecule_progress-bar-label {
		position: absolute;
		top: 5px;
		font-size: 10px;
		font-weight: 500;
		color: $secondary_text_color;
		&.molecule_progress-bar-label-left {
			left: 2px;
		}
		&.molecule_progress-bar-label-right {
			right: 2px;
		}
	}

}
