.badge-container {
	display: inline-flex;
	max-width: 56px;
	border-radius: 15px;
	color: white;
	.icon {
		width: 15px;
    height: 15px;
	}
	.mod {
		display: inline-block;
		line-height: 18px;
	}
	&.big {
		padding: 3px;
	}
	&.small {
		padding: 0 5px 0 2px;
		margin-right: 3px;
	}
	&.absolute {
		position: absolute;
		bottom: 0px;
	}
}
