@import "~styles/utils";

.discover-user-card-container {
	display: flex;
	width: calc(100% / 3 - 16px);
	margin: 7px;
	border: 1px solid #E9EBEE;
	align-items: center;
	.profile-container {
		display: flex;
		width: 100%;
		.profile-avatar-wrapper {
			width: 100%;
			.profile-avatar {
				width: 100%;
			}
		}
		.profile-data {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding: 5px 10px;
			width: 100%;
			.profile-name {
				@include multiLineEllipsis($lineHeight: 16px, $lineCount: 2, $bgColor: white);
			}
			.profile-followers {
				font-size: 14px;
				opacity: 0.5;
			}
			.profile-level {
				font-size: 14px;
			}
		}
	}
}







