@import '~styles/_colors';

.draft-editor-container {
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid $primary_color;
	border-bottom: 1px solid $primary_color;
	&.read-only {
		border: none;
	}
	.draft-editor-inner-container {
		width: 100%;
		padding: 15px;
		.underline {
			text-decoration: underline;
		}
		&.no-padding {
			padding: 0px;
		}
	}
}
