@import '~styles/colors';

.atom_step_icon {
	display: block;
	font-size: 24px;
	color: $secondary_background_color;
	width: 20px;
	height:20px;
}

.atom_step_icon_active {
	color: $primary_color;
	width: 24px;
	height:24px;
}

.atom_step_icon_completed {
	color: $secondary_color
}

.atom_step_icon_disabled {
	color: $background_color;
}