.quiz {
	.question-container {
		margin: 10px 0;
		.question-text {
			min-height: 20%;
			max-height: 50%;
			overflow: auto;
			padding: 20px;
			margin-bottom: 40px;
			// https://stackoverflow.com/questions/4413015/browser-compatible-word-wrap-and-whitespace-pre
			white-space: -moz-pre-wrap; /* Firefox */
			white-space: -pre-wrap; /* ancient Opera */
			white-space: -o-pre-wrap; /* newer Opera */
			white-space: pre-wrap; /* Chrome; W3C standard */
			word-wrap: break-word; /* IE */
		}
		.placeholder-container {
			text-align: center;
		}
		.fill-in-answers-container {
			margin: 20px;
		}
	}
	.check-container {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
	}
}
