@import 'shimmer';

%shimmer-line {
	background-color: $shimmer-dark-color;
	height: 9px;
	margin: 5px 0;
}

.feed-shimmer-shimmer {
    @extend %shimmer-container;
		position: absolute;
		top: 0;
		left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.feed-shimmer-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	.post-head {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;

		.avatar {
			background-color: $shimmer-dark-color;
			// background-color: black;
			overflow: hidden;
			height: 40px;
			width: 40px;
			border-radius: 100%;
			margin-right: 10px;
		}

		.post-meta-info {
			display: flex;
			flex-direction: column;

			.post-name {
				@extend %shimmer-line;
				width: 250px;
			}

			.post-subhead {
				@extend %shimmer-line;
				width: 150px;
			}
		}
	}

	.post-body {
		.post-line {
			@extend %shimmer-line;
			margin-bottom: 10px;
			&.short {
				width: 260px;
			}
			&.medium {
				width: 300px;
			}
			&.long {
				width: 340px;
			}
		}
	}

	.post-footer {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			.date {
				@extend %shimmer-line;
				width: 70px;
				margin-bottom: 0;
			}
	}
}
