@import 'shimmer';

%shimmer-line {
	background-color: $shimmer-dark-color;
	height: 10px;
	margin: 0;
}

.sidebar-shimmer-shimmer {
	@extend %shimmer-container;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.sidebar-shimmer-wrapper {
	width: 100%;
	.sidebar-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px;
		padding-bottom: 0;
		.sidebar-title-text {
			@extend %shimmer-line;
			width: 30%;
		}
		.sidebar-load-more {
			@extend %shimmer-line;
			width: 20%;
		}
	}
	.sidebar-shimmer-container {
		position: relative;
		display: flex;
		align-items: center;
		padding: 15px;
		.sidebar-picture {
			background-color: $shimmer-dark-color;
			height: 40px;
			width: 40px;
			&.round {
				border-radius: 100%;
			}
		}
		.sidebar-info {
			margin-left: 10px;
			flex: 1;
			.sidebar-line {
				@extend %shimmer-line;
				&.long {
					width: 50%;
					margin-bottom: 5px;
				}
				&.short {
					width: 35%;
				}
			}
		}
	}
}

// background-color: $shimmer-dark-color;
