@import '~styles/colors';
@import '~styles/variables';

$note_border_color: #c9c54c;

.parser-root {
  white-space: pre-wrap;
  .note {
    display: flex;
    align-items: center;
    border: 1px solid $secondary_background_color;
    margin: $primary_gap_size 0;
    background: $highlight_color;
    border-left: 5px solid $note_border_color;
    padding: $primary_gap_size;
    img {
      align-self: flex-start;
      width: 25px;
      flex-shrink: 0;
      margin-right: $primary_gap_size;
    }
  }
  .code {
    border: 1px solid $secondary_background_color;
    margin: $primary_gap_size 0;
    background: $background_color;
    border-left: 5px solid $secondary_color;
		padding: $primary_gap_size;
  }
	.code-container {
		overflow: hidden;
		.code-button {
			align-self: flex-end;
		}
	}
  .image {
    display: block;
    margin: 5px auto;
  }
  .glossary {
    color: $primary_color;
  }
}
