@import '~styles/colors';
@import '~styles/variables';

$icon_size: 20px;

.molecule_view-stats {
	color: $icon_color;
	margin-right: $primary_gap_size;
}

.molecule_view-stats-icon {
	height: $icon_size;
	width: $icon_size;
	color: $secondary_text_color;
}
