@import '~styles/colors';
@import '~styles/variables';

$icon_size: 20px;

.molecule_view-stats {
	margin-right: $secondary_gap_size;
}

.molecule_view-stats-icon {
	height: $icon_size;
	width: $icon_size;
	color: $secondary_text_color;
	margin: $secondary_gap_size $secondary_gap_size $secondary_gap_size 0;
}