@import '~styles/colors';
@import '~styles/variables';

.atom_text-block {
  text-transform: uppercase;
	font-size: $secondary_text_size;
	line-height: $secondary_text_size;
	color: $secondary_text_color
}
