@import '~styles/colors';

.top-toolbar {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 10px;
	border-radius: 0;
	padding: 16px;
	padding-bottom: 4px;
	&.fullscreen {
		margin: 0;
		border-radius: 0;
		border-bottom: 1px solid $secondary_background_color;
	}
	.code-info-toolbar_main-info {
		margin-left: 14px;
		.code-info-toolbar_code-name {
			color: $primary_color_hover;
			font-size: 15px;
			font-weight: 600;
			margin-bottom: 6px;
		}
		.code-info-toobar_user-name {
			color: $content_text_color;
			margin-right: 5px;
		}
	}
	.code-info-toolbar_secondary-info {
		margin-top: 7px;
		.code-info-toolbar_vote-actions {
			justify-content: flex-start;
			margin-left: -8px; // compensate material button padding
			margin-right: 8px;
		}
		.code-info-toolbar_date-info {
			margin-left: auto;
			.code-info-toolbar_date-text {
				color: rgba(97, 107, 110, 0.8);
				font-size: 12px;
				margin-right: 2px;
			}
		}
	}
	.code-info-toolbar_menu {
		position: absolute;
		top: 4px;
		right: 4px;
	}
}
