@import '~styles/colors';

.top-toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	&.fullscreen {
		margin: 0;
		border-radius: 0;
		border-bottom: 1px solid $secondary_background_color;
	}
	.toolbar-left {
		flex-grow: 1;
		.code-info-toolbar_code-data {
			align-items: stretch;
		}
		.code-info-toolbar_vote-actions {
			justify-content: flex-start;
			margin-left: -12px; // compensate material button padding
		}
	}
	.toolbar-right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		flex-grow: 1;
		.my-code-actions {
			align-items: flex-start;
			min-height: 48px;
			&.justify-between {
				justify-content: space-between;
				min-width: 150px;
			}
			.code-info-toolbar_switch-label {
				margin-top: -12px; // compensate material button padding
			}
			.delete-button {
				margin-right: 5px;
			}
		}
		.code-info-toolbar_user-name {
			padding-right: 10px;
		}
	}
}
