@import '~styles/colors';

.feedItemWrapper {
	position: relative;
}
.feedItem {
	/*cursor: pointer;*/
	background-color: $white;
	border: 1px solid $border_color;
	border-radius: 4px;
	position: relative;
	padding: 16px;
	padding-right: 24px;
	margin: 8px 5px;
	margin-top: 0;
	.course-card {
		margin-top: 12px;
	}
	.merged-challenges-indicator {
		padding-bottom: 0;
	}
	&.userPost {
		padding: 15px 0;
	}
}
