.discuss-busy-container {
	position: relative;
	padding-top: 15px;
	.discuss-wrapper {
		flex-direction: row;
		justify-content: flex-start;
	}
}

.no-questions-wrapper {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}