@import '~styles/colors';

.playground_run-button {
	color: $run-button-color;
	font-weight: 600;
}

.playground_code-actions-menu {
	.playground_code-actions-divider {
		height: 2px;
	}
	&.dark {
		background-color: $content_text_color;
		.playground_code-actions-menu-item {
			color: $white;
			.playground_code-actions-number {

			}
			&:hover {
			color: $primary_color_hover;
			}
		}
	}
}
