@import '~styles/variables';

.playground_sidebar {
	.item {
		margin-bottom: $primary_gap_size;
		&.title {
			margin-top: $primary_gap_size;
		}
	}
	.playground_view-more-link {
		margin-top: $primary_gap_size;
		align-self: center;
	}
}
