@import '~styles/variables';

.playground_sidebar {
	.hot-today-item {
		margin: 18px 0;
		.hot-today-content {
			max-width: 200px;
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			color: #009D7E;
			font-size: 15px;
			font-weight: bold;
			.author-name-container {
				margin: 2px 0;
			}
		}
	}
}
