@import '~styles/variables';

.playground_sidebar {
	.hot-today-content {
		max-width: 200px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #009D7E;
    font-size: 15px;
    font-weight: bold;
	}
}
