.my-submissions {
	.submissions-busy-container {
		position: relative;
		.submissions-wrapper {
			flex-direction: row;
			justify-content: flex-start;
		}
	}
	.status-bar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 10px;
	}
	.preview {
		.primary-text {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			width: 70%;
		}
		img {
			height: 50px;
			width: 50px;
		}
		.status {
			float: right;
			width: 80px;
			padding: 3px;
			color: #FFFFFF;
			text-align: center;
			font-size: 12px;
			font-weight: 500;
		}
	}
	@keyframes highlight {
		from {
			background-color: yellow;
		}
		to {
			background-color: white;
		}
	}
	.challenge-item {
		&.animate {
			animation: highlight 1.5s ease-in 1;
			margin: 100;
		}
	}
}
