.sub-title{
    display: block;
    cursor: pointer;
    margin:23px 0;
    color:#616B6E;
    font-weight: 600;
    text-transform: uppercase;
}

.sub-title.active{
    font-weight: 800;
    color: #009D7E;
}