@import '~styles/variables';

.course-card-container {
	width: 100%;
	text-decoration: none;
	.course-card-wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		
		color: rgba(0, 0, 0, 0.87);
		text-decoration: none;
		.course-card-image-container {
			width: 100px;
			height: 100px;
			flex-shrink: 0;
			.card-image {
				width: 100%;
			}
			&.round {
				border-radius: 100%;
			}
			&.minimal {
				width: 50px;
				height: 50px;
			}
		}
		.info-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 10px 12px;
			.user-link {
				text-decoration: none;
				color: #2196F3;
				font-size: 12px;
			}
			.view-stats {
				display: flex;
				.stat-group {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-left: $secondary_gap_size;
				}
			}
		}
	}
	&.small {
		.course-card-wrapper {
			padding: 0;
			margin: 0;
			align-items: center;
		.course-card-image-container {
				height: 60px;
				width: 60px;
			}
		}
	}
}
