@import '~styles/colors';

.user-post-actions-container {
	margin: 0;
	font-size: 15px;
	.user-post-cancel-button {
		color: $primary_color;
		margin-right: 24px;
		text-transform: none;
	}
	.up-share-button {
		border-radius: 25px;
		text-transform: none;
		min-height: 0;
		box-shadow: none;
	}
}
