@import '~styles/colors';

.user-post-actions-container {
	margin: 0;
	width: 220px;
	height: 32px;
	font-size: 15px;
	.user-post-cancel-button {
		color: $primary_color;
		margin-right: 24px;
		text-transform: none;
	}
	.up-share-button {
		padding: 6px 39px;
	}
}
