@import '~styles/colors';
.user-post-popup-actions {
	margin: 0;
	font-size: 15px;
	.user-post-cancel-button {
		font-size: 15px;
		font-weight: 700;
		border: none;
		padding: 6px 22px;
		color: $primary_color_hover;
		margin-right: 2px;
		text-transform: none;
		min-height: 32px;
	}
	.up-share-button {
		padding: 6px 39px;
	}
}
