@import '~styles/variables';
@import '~styles/colors';

.notification-content {
	display: flex;
	width: 100%;
	.additional-details {
		width: 100%;
		margin-left:10px;

		.block-with-text {
			overflow: hidden;
			position: relative;
			line-height: 19px;
			max-height: 57px;
			font-size: 14px;
			color: #7F7F7F;
			padding-right: 10px;
			word-break: break-all;
		}

		.block-with-text:before {
			content: '...';
			position: absolute;
			right: 0;
			bottom: 1px;
		}

		.block-with-text:after {
			content: '';
			position: absolute;
			right: 0;
			width: 15px;
			height: 15px;
			margin-top: 1px;
			background: white;
		}


		.date-container {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-right: $secondary_gap_size;

			.notClickedIcon {
				width: 6px;
				height: 6px;
				background-color: $primary_color;
				vertical-align: middle;
				display: inline-block;
				border-radius: 50%;
				margin: 0 0 0 5px;
			}
		}
	}
	.achievement-icon-container {
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		.achievement-icon {
			height: $small-avatar-size;
			width: $small-avatar-size;
		}

	}

}
