@import '~styles/medias';

.header {
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 999;
	background-color: #3A464A;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
	.header-wrapper {
		display: grid;
		grid-gap: 12px;
		grid-template-columns: minmax(0, 1fr);
		width: 70.83%;
		max-width: 1190px;
    min-width: 480px;
    margin: auto;
		.header-logo {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			padding-left: 24px;
			.home-icon {
				.header_home-icon_small {
					display: none;
				}
				.header_home-icon_big {
					width: 190px;
					.header_home-icon_image {
						display: block;
						width: 100%;
					}
				}
				.cls-1 {
					fill: white;
				}
			}
		}
		.header-right {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			padding-right: 24px;
		}
		.header-left {
			position: relative;
			// .header-search-container {
			// 	display: flex;
			// 	padding-left: 10px;
			// 	.header-overlay {
			// 		display: flex;
			// 		align-items: center;
			// 		position: absolute;
			// 		background-color: #607D8B;
			// 		width: 0;
			// 		opacity: 0;
			// 		z-index: 0;
			// 		height: 48px;
			// 		padding-bottom: 1px;
			// 		transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
			// 													opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
			// 		.search-wrapper {
			// 			display: flex;
			// 			align-items: center;
			// 			height: 30px;
			// 			width: 100%;
			// 			border: 1px solid #C6C6CB;
			// 			border-radius: 5px;
			// 			background-color: white;
			// 			padding-left: 10px;
			// 			overflow: hidden;
			// 			.header-search-open-icon {
			// 				&:hover {
			// 					background-color: #E9EBEE !important;
			// 				}
			// 			}
			// 		}
			// 		&.open {
			// 			width: 100%;
			// 			z-index: 1;
			// 			opacity: 1;
			// 		}
			// 	}
			// }
		}
	}
}

@include for-until-big-desktop-up {
	.header {
		.header-wrapper {
			.header-logo {
				padding-right: 10px;
				.home-icon {
					.header_home-icon_big {
						width: 170px;
					}
				}
			}
		}
	}
}

@include for-until-big-desktop {
	.header {
		.header-wrapper {
			width: 65%;
		}
	}
}

@include for-until-desktop {
	.header {
		.header-wrapper {
			width: 60%;
		}
	}
}

@include for-until-tablet {
	.header {
		.header-wrapper {
			width: 82%;
			// .header-left {
			// 	.header-search-container {
			// 		flex-grow: 1;
			// 	}
			// }
			.header-logo {
				.home-icon {
					.header_home-icon_big {
						display: none;
					}
					.header_home-icon_small {
						display: block;
						width: 32px;
					}
				}
			}
			.header-right {
				.notifications-button-container,
				.header-settings-menu-container {
					flex-grow: 1;
				}
			}
		}
	}
}
