.meta-info {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}
.courses-list {
	display: flex;
	margin: 0 auto;
	padding: 10px;
	height: 160px;
	color: #333;
	overflow: hidden;
	transform: translate3d(0px, 0px, 0px); // Done for hiding svg items
}

.slick-slider {
	.slick-prev {
		left: 0;
		&:before {
			color: #00558B;
		}
	}

	.slick-next {
		right: 0;
		&:before {
			color: #00558B;
		}
	}

	.slick-slide {
		height: initial;
	}
}
