.meta-info {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}
.courses-list {
	margin: 0 auto;
	padding: 10px 40px;
	width: 100%;
	color: #333;
	display: flex;
}

.slick-slider {
	.slick-prev {
		left: 0;
		&:before {
			color: #00558B;
		}
	}

	.slick-next {
		right: 0;
		&:before {
			color: #00558B;
		}
	}

	.slick-slide {
		height: initial;
	}
}
