@import 'utils';

.chip-container {
	display: block;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.87);
	padding: 0 15px;
	.chip-image {
		width: 95px;
		height: 95px;
	}
	.language-tag {
		position: absolute;
		right: 2px;
		bottom: 2px;
		color: white;
		font-size: 12px;
		font-weight: 300;
	}
	.round {
		border-radius: 100%;
	}
	.course-name {
		width: 100%;
		font-size: 13px;
		padding-top: 7px;
		padding-left: 15px;
		@include multiLineEllipsis($lineHeight: 14px, $lineCount: 2, $bgColor: white);
	}
}
