.course-card-container {
	width: 100%;
	padding: 10px;
	text-decoration: none;
	.course-card-wrapper {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		padding: 10px;
		color: rgba(0, 0, 0, 0.87);
		text-decoration: none;
		margin-bottom: 10px;
		.card-image {
			width: 100px;
			height: 100px;
			&.round {
				border-radius: 100%;
			}
		}
		.info-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 10px;
			.user-link {
				text-decoration: none;
				color: #2196F3;
				font-size: 12px;
			}
			.view-stats {
				display: flex;
				.stat-group {
					display: flex;
					align-items: center;
					justify-content: space-between;
					p {
						padding: 5px;
					}
				}
			}
		}
	}
}
