.header {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: 999;
	background-color: #607D8B;
	.header-wrapper {
		display: flex;
		justify-content: space-between;
		width: calc(65vw + 40px);
		.header-right {
			display: flex;
			justify-content: center;
			align-items: center;
			.home-icon {
				width: 40px;
				.cls-1 {
					fill: white;
				}
			}
			.header-search-container {
				display: flex;
				padding-left: 10px;
				position: relative;
				.header-overlay {
					display: flex;
					align-items: center;
					position: absolute;
					background-color: #607D8B;
					width: 0px;
					opacity: 0;
					z-index: 0;
					height: 100%;
					padding-bottom: 1px;
					transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
																opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
					.search-wrapper {
						display: flex;
						align-items: center;
						height: 30px;
						width: 100%;
						border: 1px solid #C6C6CB;
						border-radius: 5px;
						background-color: white;
						padding-left: 10px;
					}
					&.open {
						width: 500px;
						z-index: 1;
						opacity: 1;
					}
				}
			}
			.tabs {
				display: flex;
				.tab-item {
					display: flex;
					align-items: center;
					position: relative;
					padding: 15px;
					color: white;
					.tab-icon {
						width: 20px;
						padding-right: 5px;
					}
					&.active {
						border-bottom-color: white;
						&:after {
							transform: scaleX(1);
						}
					}
					&:after {
						display: block;
						content: '';
						position: absolute;
						width: 100%;
						bottom: 0;
						right: 0;
						border-bottom: 2px solid #fff;
						-webkit-transform: scaleX(0);
						transform: scaleX(0);
						transition: -webkit-transform .2s ease-in-out;
						transition: transform .2s ease-in-out;
						transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
					}
				}
			}
		}
		.header-left {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
