.language-card-main-container {
	.colored-box {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		font-size: 13px;
		color: #fff;
		margin: 0px 10px 0 0;
	}
}
