.avatar-container {
	display: inline-block;
	text-decoration: none;
	.avatar-wrapper {
		display: flex;
		align-items: center;
		font-size: 12px;
		.profile-picture-container {
			display: flex;
	    flex-direction: column;
	    align-items: center;
	    position: relative;
		}
		&.vertical {
			flex-direction: column;
		}
	}
	.avatar-meta-info-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.avatar-user-name {
			color: #607D8B;
			margin: 0 0 2px 0;
		}
		.avatar-date-text {
			color: #777;
		}
		&.reversed {
			order: -1;
			text-align: right;
		}
	}
}
