.avatar-container {
	display: inline-block;
	text-decoration: none;
	.avatar-wrapper {
		display: flex;
		align-items: center;
		font-size: 12px;
		.profile-picture-container {
			display: flex;
	    flex-direction: column;
	    align-items: center;
	    position: relative;
		}
		&.vertical {
			flex-direction: column;
		}
	}
	.avatar-meta-info-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.avatar-user-name {
			color: #607D8B;
			margin: 0 0 2px 0;
		}
		.avatar-date-text {
			color: #777;
		}
		&.reversed {
			order: -1;
			text-align: right;
		}
	}
}

.profile-avatar-user-card.profile-avatar-reset {
	width: initial;
	margin: 0;
	border: none;
	padding: 5px;
	.profile-container {
		width: 290px;
		.profile-avatar-wrapper {
			display: flex;
			flex: 1;
			.profile-avatar {
				width: 95px;
				height: 95px;
			}
		}
		.profile-data {
			flex: 2;
			.user-card-follow-button {
				width: 100px;
				align-self: flex-end;
			}
		}
	}
}
