@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  margin:0;
  padding:0;
	font-family: 'Roboto', sans-serif;
  text-decoration: none;
  &:before, &:after {
    box-sizing: inherit;
  }
}

html {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  box-sizing: border-box;
}

.body {
	background-color: #F4F4F4;
}

html, body {
  height: 100vh;
}

.sidebar {
	height: 80vh;
	width: 15vw;
	border: 3px solid #D6D6D6;
	border-radius: 5px;
}
