.slay-container {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	.main-content {
		max-width: 1000px;
		padding-right: 30px;
	}
	.sidebar {
		height: 80vh;
		width: 300px;
		border: 3px solid #D6D6D6;
		border-radius: 5px;
	}
}
