@import '~styles/colors';

.leaderboard-shimmer-wrapper {
	width: 100%;
	.leaderboard-shimmer-container {
		display: flex;
		align-items: center;
		height: 50px;
		padding: 10px;
		border-bottom: 1px solid $shimmer-border-color;
		.leaderboard-text-info {
			padding: 10px;
			width: 90%;
		}
	}
}
