.discover-container {
	padding: 7px;
	min-height: 300px;
	.discover-busy-wrapper {
		justify-content: initial;
		.card-title {
			width: 100%;
			padding-top: 7px;
			padding-bottom: 7px;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 11px;
			color: rgb(120, 144, 156);
		}
	}
	.discover-wrapper {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		.no-user-found {
			min-height: 50vh;
			display: flex;
			align-items: center;
		}
		&.centered {
			justify-content: center;
		}
	}
}
