@import '~styles/variables';

.user-card-container {
	display: flex;
	justify-content: space-between;
	.user-info {
		display: flex;
		.user-meta-data {
			margin-left: $secondary-gap-size;

			.info {
				display: block;
			}
		}
	}
}
