.notifications-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 11px 14px;
	.notifications_mark-read {
		cursor: pointer;
	}

	.diasbale_mark-read{
		color:#ddd;
		cursor: default;
	}

	.diasbale_mark-read:hover{
		text-decoration: none;
	}
}
