@import '~styles/variables';

.follower {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $primary_gap_size 0;

	.details {
		flex: 2;
		display: inline-flex;
		align-items: center;
		min-width: 300px;
	}

	.username-container {
		display: flex;
		flex-direction: column;
		width: 80%;
		padding-left: $secondary_gap_size;

		.username {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

	