@import '~styles/colors';

$console_dark_bg_color: $main_text_color;
$console_light_bg_color: $background_color;

.playground_live-output-container {
	.playground_output-frame {
		display: block;
		height: 500px;
		width: 100%;
		border: none;
	}
	.playground_console-root {
		.playground_console {
			max-height: 50px;
			overflow-y: scroll;
			&.light {
				background-color: $console_light_bg_color;
			}
			&.dark {
				background-color: $console_dark_bg_color;
			}
		}
	}
	.playground_live-output-loading {
		height: 500px;
	}
	&.playground_output-frame-fullscreen {
		height: 100%;
	}
}

.playground_compiled-output-container {
	padding: 11px 24px;
	border-radius: 0;
	height: 100%;
	.playground_compiled-output-heading {
		font-weight: 700;
		margin-bottom: 0;
		color: $content_text_color;
	}
	&.dark {
		background-color: $content_text_color;
		color: $white;
		.playground_compiled-output-heading {
			font-weight: 600;
			color: $white;
		}
	}
}
