@import '~styles/_colors';
.atom_switch-toggle {

	.atom_switch-toggle_base {
		color: $secondaryColor;
	}

	.atom_switch-toggle-checked {
		color: $primaryColor;
	}

	.atom_switch-toggle-bar {
		color: $primaryColor;
	}
}
