.rate-container {
	.vote-container {
		display: flex;
		justify-content: center;
		margin: 20px;
		.button {
			width: 120px;
			margin: 10px;
		}
	}
	.challenge-container {
		display: flex;
		flex-direction: column;
		.check-container {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			margin: 10px 0;
			align-self: stretch;
			.check-container-button {
				width: 120px;
			}
		}
		.stretch {
			min-height: 60%;
			align-self: stretch;
		}
	}
}

