@import '~styles/colors';

.feed-suggestions {
	max-width: 100%;
	overflow: hidden;
	justify-content: center;
	height: 150px;
	margin-bottom: 5px;

	.feed-suggestion-container {
		&:first-child {
			padding-left: 5px;
		}
		&:last-child {
			padding-right: 5px;
		}
	padding-right: 7px;
	display: flex;
	flex: 1;
	height: 148px;
	.user {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		width: 100%;
		border: 1px solid $border-color;

		.userName {
			padding: 0 0 3px 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			width: 100px;
		}

		.followers {
			font-size: 11px;
			color: #827E7E;
			display: inline-block;
		}

		.feed-suggestion-avatar {
			&.vertical {
				.avatar-meta-info-container {
					.avatar-user-name {
						max-width: 100% !important;
						width: 100%;
						.avatar-user-name-wrapper {
							display: inline-block;
							width: 100%;
						}
					}
				}
			}
		}

		.feed-suggestion-info-container {
			margin-bottom: 8px;
			color: $icon_color;
			.suggestion-info-container {
				margin-left: 2px;
				font-size: 12px;
				font-weight: 400;
			}

			.suggestion-info-separator {
				margin: 0 2px;
				font-size: 20px;
				line-height: 9px;
				padding-bottom: 5px;
			}

		}
	}
}
}
