@import '~styles/utils';

.feed-sidebar-suggestions {
	padding: 15px;
	.suggestion-container {
		display: flex;
		padding: 10px 0;
		&:not(:last-of-type) {
			border-bottom: 1px solid #EFEFEF;
		}
		.user-info {
			display: flex;
			width: 100%;
			flex-direction: column;
			justify-content: center;
			overflow: hidden;
			.user-name {
				@extend %ellipsis;
				font-size: 14px;
				color: #607D8B;
			}
			.user-meta-info {
				font-size: 12px;
				color: #827E7E;
				padding-bottom: 5px;
			}
		}
	}
	.load-more {
		display: flex;
    width: 100%;
    justify-content: center;
	}
}
