@import '~styles/colors';

.feed-suggestions {
	max-width: 100%;
	overflow: auto;
	justify-content: center;
	height: 150px;
	margin: 10px;
	margin-top: -5px;
	margin-bottom: 5px;
	.feed-suggestions_slider.slick-slider {
		.slick-arrow {
			top: 0;
			bottom: 0;
			margin: auto;
		}
		.slick-next {
			transform: none;
			right: -20px;
		}
		.slick-prev {
			transform: none;
			left: -20px;
		}
	}
	.user {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		width: 142px;
		height: 148px;
		margin-right: 7px;
		border: 1px solid $border-color;
		.userName {
			font-size: 13px;
			margin: 0 0 5px 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			width: 100px;
		}

		.followers {
			font-size: 11px;
			color: #827E7E;
			display: inline-block;
		}

		.feed-suggestion-avatar {
			&.vertical {
				.avatar-meta-info-container {
					.avatar-user-name {
						max-width: 100% !important;
						width: 100%;
						.avatar-user-name-wrapper {
							display: inline-block;
							width: 100%;
						}
					}
				}
			}
		}

		.feed-suggestion-info-container {
			margin-bottom: 8px;
			.suggestion-info-container {
				margin-right: 10px;
			}
		}
	}
}
