@import '~styles/variables';
@import '~styles/colors';

.feed-header-main-container {
	.feed-header {
		padding: 12px 12px 12px 16px;
		box-shadow: none;
		border: 1px solid $border-color;
		.details-wrapper {
			display: flex;
			width: 100%;
			align-items: center;
			.details {
				flex: 2 auto;
				margin: 0 0 0 8px;
				.badge {
					margin: 0 $secondary_gap_size;
				}
				.user-name {
					font-size: 16px;
					font-weight: 500;
					color: #5d5b5b;
				}
				.profile-progress-wrapper {
					text-align: right;
					.user-status-wrapper {
						display: flex;
						justify-content: space-between;
						.user-status {
							font-size: 11px;
							color: #777;
							text-transform: capitalize;
						}
					}
				}
			}
		}
		.actions {
			.up-fh-profile-avatar-container {
				margin-right: 16px;
			}
			.user-post-hints-input-container {
				margin-right: 12px;
				& fieldset {
					border-color: #EDF0F0;
				}
				.user-post-hints-input {
					height: 24px;
					padding: 12px 16px;
					font-size: 18px;
					color: #3A464A;

				}
			}
			.user-post-feed-header-image {
				width: 48px;
				height: 48px;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
