@import '~styles/variables';

.feed-item-content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	.wrapper {
		margin-left: 16px;
		flex: 1 0 90%;
		.feed-item-title {
			.badge {
				margin-left: 8px;
			}
			.title {
				margin-left: $secondary_gap_size;
			}
		}
		.course-card-container.small {
			padding: 0;
			.info-container > p {
				font-size: 15px;
				font-weight: 500;
				color: rgb(84, 84, 84);
			}
		}
	}

	.course-card {
		box-shadow: none;
	}
}
