.feed-toolbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-bottom: -10px;
	// Hacky solution :)
	margin-left: -50px;
	.date {
		font-size: 11px;
		color: #939393;
		padding-right: 10px;
	}
}
