@import '~styles/variables';
.feed-header {
	padding: 15px;
	box-shadow: none;
	.details-wrapper {
		display: flex;
		width: 100%;
		align-items: center;
		.details {
			flex: 2 auto;
			margin: 0 0 0 8px;
			.badge {
				margin: 0 $secondary_gap_size;
			}
			.user-name {
				font-size: 16px;
				font-weight: 500;
				color: #5d5b5b;
			}
			.profile-progress-wrapper {
				text-align: right;
				.user-status-wrapper {
					display: flex;
    			justify-content: space-between;
					.user-status {
						font-size: 11px;
						color: #777;
						text-transform: capitalize;
					}
				}
			}
		}
	}
	.actions {
		.user-post-hints-input-container {
			width: 90%;
			padding: 5px;
			.user-post-hints-input {
				padding: 12px;
			}
		}
		.user-post-feed-header-image {
			width: 48px;
			height: 48px;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
