.merged-items-container {
	opacity: 0;
	transition: all 150ms ease-in;
	display: none;
	&.open {
		opacity: 1;
		margin-bottom: 10px;
		display: block;
	}
}

.empty-feed {
	display: block;
	text-align: center;
}

.feed-list-virtualized-list-and-fab-container {
	position: relative;
}
