.merged-items-container {
	opacity: 0;
	transition: all 150ms ease-in;
	overflow-y: hidden;
	&.open {
		opacity: 1;
		margin-bottom: 10px;
	}
}

.feed-date-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.date {
		font-size: 11px;
		color: #939393;
		padding-right: 10px;
	}
}

.empty-feed {
	display: block;
	text-align: center;
}
