.merged-items-container {
	display: block;
	transition: all 150ms ease-in;
}

.empty-feed {
	display: block;
	text-align: center;
}

.feed-list-virtualized-list-and-fab-container {
	position: relative;
}
