.meta-info {
	padding-bottom: 5px;
	&.big-padding-bottom {
		padding-bottom: 15px;
	}
}
.course-description {
	padding-bottom: 15px;
}
.courses-list {
	.course-chip-wrapper {
		.collection-card-chip {
			display: flex;
			width: 130px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 5px;
			margin-top: 3px;
			transition: all 150ms ease-out;
			&:not(.round) {
				&:hover {
					transform: translateY(-3px);
				}
			}
			.course-chip-image-container {
				width: 100%;
				&:not(.round) {
					align-items: flex-start;
					.chip-image {
						width: 95px;
					}
				}
			}
			.round {
				height: 85px;
				width: 85px;
			}
			.course-chip-info.round-course-item {
				height: 24px;
			}
		}
	}
}
