@import '~styles/utils';

.playground-codes-container {
	position: relative;
	.playground-codes-toolbar {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 15px;
		padding-bottom: 0;
		.page-title {
			@extend %title-text;
			line-height: 14px;
		}
		.playground-menus {
			svg {
				height: 13px !important;
				width: 13px !important;
			}
		}
	}
}
