@import '~styles/utils';
@import '~styles/colors';
@import '~styles/variables';

.playground-codes-container {
	border: 1px solid $border-color;
	padding: 16px;
	position: relative;
	.playground-codes-toolbar {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-bottom: 0;
		.playground-menus {
			margin-top: -4px;
			.playground-menu-spaced {
				margin-right: $primary_gap_size;
			}
		}
	}
}

.playground-menu-item {
	min-width: 160px;
}
