$fontSize: 12px;
$fontLineHeight: normal;
$fontStack: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
.ace_editor {
	font: $fontSize/$fontLineHeight $fontStack;
	div {
		font: $fontSize/$fontLineHeight $fontStack;
	}
}

.ace_line {
	font: $fontSize/$fontLineHeight $fontStack;
	span {
		font: $fontSize/$fontLineHeight $fontStack;
	}
}
