$font: 12px normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
.ace_editor {
	font: $font;
	div {
		font: $font;
	}
}

.ace_line {
	font: $font;
	span {
		font: $font;
	}
}
