$white: #FFFFFF;
$primary_color : #1ED1AE;
$primary_color_hover:#009D7E;
$secondary_color: #8BC34A;
$secondary_color_hover: #7EB63D;
$main_text_color: #101517;
$content_text_color: #273338;
$secondary_text_color: #7f7f7f;
$icon_color: #616B6E;
$icon_color_selected: #19BC9C;
$user_name_color: $primary_color;
$background_color: #F5F5F5;
$secondary_background_color: #E0E0E0;
$divider_color: $secondary_text_color;
$mod_badge_color:  $secondary_text_color; // #AFAFAF
$gold_mod_bagde_color: #F3C207;
$platinum_mod_badge_color: #0F5786;
$highlight_color: #EAEA6E;
$secondary_color_disabled: $background_color;
$run-button-color: #1aca1c;
$error-red: #F44336;
$shimmer-dark-color: #E7E8EC;
$border-color: #EDF0F0;
$shimmer-border-color: $border-color;
