$white: #FFFFFF;
$primary_color : #607D8B;
$secondary_color: #8BC34A;
$main_text_color: #3A464B;
$secondary_text_color: #7F7F7F;
$user_name_color: $primary_color;
$background_color: #F5F5F5;
$secondary_background_color: #E0E0E0;
$divider_color: $secondary_text_color;
