$phone_media: 480px;
$tablet_media: 938px;
$desktop_media: 1024px;
$big_desktop_media: 1238px;
$big_desktop_up: 1680px;

@mixin for-phone-only {
  @media all and (max-width: $phone_media) { @content; }
}

@mixin for-until-tablet {
  @media screen and (max-width: $tablet_media) { @content; }
}

@mixin for-until-desktop {
  @media screen and (max-width: $desktop_media) { @content; }
}

@mixin for-until-big-desktop {
  @media screen and (max-width: $big_desktop_media) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: $big_desktop_up) { @content; }
}
