// -------------- Text sizes etc. ---------------
$primary_text_size: 16px;
$secondary_text_size: 15px;
$link_size: 14px;
$badge_size: $secondary_text_size;
$label_text_size: 11px;
$primary_gap_size: 10px;
$label_text_size: 14px;
$title_size: 18px;

// ------------Margins ---------------- 
$primary_gap_size: 10px;

// --------------Avatar Sizes ---------------
$small-avatar-size: 40px;
$normal-avatar-size: 60px;
$large-avatar-size: 100px;
$xtra-large-avatar-size: 200px;

// --------------Shadows ---------------
$shadow_1: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12)
