@import 'utils';

.course-box-container {
	width: calc(100% / 5 - 30px);
	padding: 15px;
	text-decoration: none;
	.course-card-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		color: rgba(0, 0, 0, 0.87);
		text-decoration: none;
		.image-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			border-radius: 100%;
	    height: 0;
	    padding-top: 100%;
			position: relative;
			.CircularProgressbar {
				top: -7px;
				right: -6px;
			}
			.card-image {
				width: 100%;
				position: absolute;
				top: 0px;
				right: 0px;
				&.round {
					border-radius: 100%;
				}
			}
		}
		.info-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-top: 10px;
			.course-name {
				font-size: 13px;
				height: 32px; // 16px line height
				@include multiLineEllipsis($lineHeight: 16px, $lineCount: 2, $bgColor: white);
				&.centered {
					text-align: center
				}
			}
			.view-stats {
				display: flex;
				.stat-group {
					display: flex;
					align-items: center;
					justify-content: space-between;
					p {
						padding: 3px;
						font-size: 13px;
					}
				}
			}
		}
	}
}
