.layout-container {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	transition: padding-top 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
	.main-content {
		width: 610px;
		padding-right: 30px;
		transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
		&.wide {
			width: 820px;
		}
	}
}
