.related-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	.up-next-course-card-container {
		.course-card-wrapper {
			padding: 0;
			margin: 0;
			align-items: center;
		.course-card-image-container {
				height: 70px;
				width: 70px;
				.card-image {
					height: initial;
					width: 100%;
				}
			}
		}
	}
}
