@import "utils";
@import '~styles/colors';
@import '~styles/variables';
@import "medias";

* {
  margin:0;
	padding:0;
	outline: none;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	box-sizing: border-box;
  &:before, &:after {
    box-sizing: inherit;
  }
}

html {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

body {
	background-color: #F5F5F5;
}

html, body {
  height: 100vh;
}

.hoverable {
	&:hover {
		text-decoration: underline !important;
	}
}

.flex-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	flex-direction: column;
}

@keyframes highlight {
	from {
		background-color: $highlight_color;
	}
	to {
		background-color: $white;
	}
}

.animate-highlight {
	animation: highlight 1s ease-in;
}

span::selection {
	background-color: $primary_color_hover;
	color: white;
}
