@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "utils";

* {
  margin:0;
	padding:0;
	outline: none;
	font-family: 'Roboto', sans-serif;
  text-decoration: none;
  &:before, &:after {
    box-sizing: inherit;
  }
}

html {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  box-sizing: border-box;
}

body {
	background-color: #F5F5F5;
}

html, body {
  height: 100vh;
}

.hoverable {
	&:hover {
		text-decoration: underline !important;
	}
}

.hoverable-icon {
	&:hover svg {
		fill: #607D8B !important;
	}
}

.sidebar-title {
	.title {
		@extend %title-text;
		padding-bottom: 5px;
		line-height: 14px;
	}
}

.page-title {
	@extend %title-text;
	line-height: 14px;
}

.mini-drop-down {
	svg {
		height: 13px !important;
		width: 13px !important;
	}
}

.sidebar-placeholder {
	position: relative;
	width: 300px;
	.sidebar-wrapper {
		position: absolute;
		width: 300px;
		.sidebar-main-content {
			min-height: 20px;
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px,
			rgba(0, 0, 0, 0.12) 0px 1px 4px;
			border-radius: 2px;
		}
		.sidebar-static-pages {
			padding: 10px 0;
			.static-link {
				display: inline-block;
				color: #90948F;
				padding: 0 10px;
				font-size: 14px;
				&:not(:last-child) {
					border-right: 1px solid #CCCCCC;
				}
			}
		}
		&.sticky {
			position: fixed;
		}
	}
}

.flex-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

