@import '~styles/medias';

.slay-container {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	.main-content {
		width: 610px;
		padding-right: 20px;
		&.wide {
			width: 930px;
		}
	}
}

@include for-until-tablet {
	.slay-container {
		.main-content {
			padding-right: 0;
			width: 100%;
			.busy-wrap-container {
				padding: 0 10px;
			}
			&.wide {
				width: 100%;
			}
		}
	}
}
