.vote-controls {
	display: flex;
	align-items: center;
	.icon-button {
		width: 32px;
		height: 32px;
		padding: 8px;
		vertical-align: middle;
		&:hover svg {
			fill: #607D8B !important;
		}
	}
	&.absolute-controls {
		position: relative;
		width: 120px;
		padding: 10px 0;
		justify-content: center;
		.icon-button {
			position: absolute !important;
			z-index: 2 !important;
			&.up {
				left: 0
			}
			&.down {
				right: 0;
			}
		}
	}
}
