@import '~styles/colors';
@import '~styles/variables';

.avatar-container {
	display: inline-block;
	.profile-image {
		font-size: 50%;
		border: 4px solid transparent;
		box-sizing: content-box;
		&.mod {
			border-color: $mod_badge_color;
		}
		&.gold_mod {
			border-color: $gold_mod_bagde_color;
		}
		&.platinum_mod {
			border-color: $platinum_mod_badge_color;
		}
		&.small {
			height: $small-avatar-size;
			width: $small-avatar-size;
			font-size: $small-avatar-size / 2;
		}
		&.normal {
			height: $normal-avatar-size;
			width: $normal-avatar-size;
			font-size: $normal-avatar-size / 2;
		}
		&.big {
			height: $xtra-large-avatar-size;
			width: $xtra-large-avatar-size;
			font-size: $xtra-large-avatar-size / 2;
		}
	}
}
