@import '~styles/utils';
@import '~styles/colors';

.feed-items-wrapper {
	.feed-filters {
		padding-left: 16px;
		.sub-title {
			display: block;
			cursor: pointer;
			margin-right: 48px;
			&.active {
				font-weight: 800;
				color: $primary_color_hover;
			}
		}
	}
}
