<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IWebsiteService" maxReceivedMessageSize="1000000" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/services/WebsiteService.svc"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IWebsiteService"
                contract="WebService.IWebsiteService" name="NetNamedPipeBinding_IWebsiteService">
                <identity>
                    <servicePrincipalName value="host/David-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>