.user-post-details-page-container {
	.user-post-details-main-container {
		padding: 0;
		.up-details-top-bar-container {
			padding: 15px;
			.up-profile-username-link {
				padding: 0 5px;
			}
		}
		.up-details-bottom-bar-container {
			padding: 15px;
			.user-post-details-bottom-bar {
				margin-left: 0;
			}
			.user-post-details-share-chip {
				margin-top: 10px;
				padding: 5px;
			}
		}
		.up-details-image {
			width: 100%;
		}
	}
}
