.badge-container {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 3px;
	max-width: 56px;
	border-radius: 15px;
	color: white;
	.icon {
		width: 13px;
		height: 13px;
		&.placeholder {
			width: 2px;
		}
		img {
			width: 100%;
		}
	}
	.mod {
		display: inline-block;
		line-height: 14px;
	}
	&.big {
		padding: 3px;
	}
	&.small {
		padding: 0 5px 0 2px;
		margin: 0 3px 0 0;
		.mod {
			font-size: 10px;
			line-height: 9px;
		}
	}
	&.absolute {
		position: absolute;
		bottom: 0px;
	}
}
