@import "~styles/utils";

.discover-user-card-container {
	display: flex;
	flex: 1 0 30%;
	margin: 7px;
	border: 1px solid #E9EBEE;
	align-items: center;
	.profile-container {
		display: flex;
		width: 100%;
		.profile-avatar-wrapper {
			width: 100%;
			.profile-avatar {
				width: 100%;
				max-height: 120px;
			}
		}
		.profile-data {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 5px 15px;
			width: 100%;
			.profile-name {
				color: #1E1E1E;
				padding-bottom: 5px;
				font-size: 15px;
				@include multiLineEllipsis($lineHeight: 14px, $lineCount: 2, $bgColor: white);
			}
			.profile-followers {
				font-size: 14px;
				opacity: 0.5;
			}
			.profile-level {
				font-size: 14px;
			}
		}
	}
}







