@import '~styles/colors';

.atom_menu-item {
	font-size: 14px;
	color: $content_text_color;
	&.atom_menu-item_selected {
		background-color: rgba(25, 190, 157, 0.1);
		color: $primary_color_hover;
		font-weight: 700;
		&:hover,
		&:focus {
			background-color: rgba(25, 190, 157, 0.14);
		}
	}
	&:hover {
		color: $primary_color_hover;
		font-weight: 700;
		background-color: rgba(25, 190, 157, 0.08);
	}
}
