@import '~styles/colors';
@import '~styles/variables';

.comment-item-container {
	.comment-item_wrapper {
		min-width: 0;
		word-break: break-all;
		background-color: $white;
		border-radius: 8px;
		border: 1px solid $border-color;
		padding: $primary_gap_size 1.5 * $primary_gap_size;
		margin-left: 8px;
		position: relative;
		.comment-item_comment-container {
			margin-right: 20px;
			.comment-item_author {
				display: inline-flex;
				.comment-item_user-name,
				.comment-item_user-badge {
					margin-right: 3px;
				}
				.comment-item_user-badge {
					margin-left: 3px;
				}
			}
			.counting-mention-input {
				min-height: 50px;
			}
			.comment_item-text {
				display: inline;
			}
		}
		.comment-item_icon-menu {
			position: absolute;
			top: 0;
			right: 0;
		}
		&.edit {
			padding: 8px;
			.comment-item_comment-container {
				margin-right: 0;
			}
		}
	}
	.comments_text-button {
		border: none;
		padding: 0;
		font-size: 12px;
		font-weight: 700;
		color: $primary_color_hover;
		background: none;
	}
	.edit-input {
		.editor {
			border: 1px solid $border-color;
			border-radius: 4px;
			background: $white;
			margin-left: 0;
			margin-bottom: 8px;
		}
		.comment-edit-button {
			color: $white;
		}
	}
	.reply-input {
		.editor {
			margin-left: 0;
			border: 1px solid $icon_color;
			border-radius: 4px;
		}
	}
}
