@import '~styles/variables';
@import '~styles/colors';

.comments-container {
	margin-top: $primary_gap_size;
	.input-bar {
		display: flex;
		width: 100%;
		justify-content: flex-start;
	}

	.replay-loader {
		display: flex;
		justify-content: center;
	}

	.comments-toolbar-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		.comments-heading {
			margin-bottom: 0;
			color: $content_text_color;
		}
		.comments-tooblar_select {
			margin-top: -6px;
		}
	}
}
