@import '~styles/colors';
@import '~styles/variables';

.comment-item-container {
	.comment-item_bubble-container {
		background-color: $background_color;
		border-radius: 2 * $primary_gap_size;
		padding: $primary_gap_size 1.5 * $primary_gap_size;
		margin-left: 10px;
		.comment-item_icon-menu {
			align-self: flex-start;
			margin-top: 7px;
		}
	}
	.reply-input {
		.editor {
			margin-left: 0;
		}
	}
}
