@import '~styles/colors';

.atom_circular-progress {
	width: 110%;
	height: 110%;
	position: absolute;
	color: $secondary_color;
	.CircularProgressbar-path {
		stroke: $secondary_color;
		transition: none;
	}
	.CircularProgressbar-trail {
		stroke: $secondary_background_color;
	}
}
