@import '~styles/colors';

$settings_section_width: 200px;

.settings-container {
	display: flex;
	.settings-sections {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: $settings_section_width;
		.settings-tab {
			padding: 30px 10px;
			border-top: 1px solid $divider_color;
		}
	}
	.settings-main {
		width: 100%;
		border: 1px solid $divider_color;
		padding: 30px;
		.empty-container {
			height: 100%;
		}
		.setting-banner {
			border-bottom: 1px solid gray;
			margin-bottom: 10px;
			padding: 5px;
		}
		.settings-input {
			margin-top: 10px;
		}
		.settings_loading{
			margin: auto;
			display: block;
		}

		.profile-settings-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;

			.password_input {
				width: 100%;
				text-transform: capitalize;
				margin-top: 20px;

				.error-text {
					text-transform: none;
				}
			}

			.password_button {
				padding-top: 10px;
			}

			.settings-form-container {
				display: flex;
				flex-direction: column;
				width: 100%;
				.settings-group {
					display: flex;
					flex-direction: column;
					width: 100%;
				}
				.settings-button {
					align-self: flex-end;
					margin-top:10px;
				}
			}
			.image-group {
				.profile-image-container {
					position: relative;
					margin-bottom: 20px;
					.profile-image {
						cursor: pointer;
					}
					.profile-edit-button {
						position: absolute;
						bottom: 10px;
						right: 10px;
						cursor: pointer;
					}
					.image-field {
						display: none;
					}
				}
			}
		}
		.blocked-settings-container {
			height: 100%;

		}
		.blocked-settings-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			.user-card-container {
				margin-bottom: 5px;
				display: flex; 
				justify-content: space-between;
			}
			&.center-vertical {
				justify-content: center
			}
		}
		.unblock-button {
			float: right;
			margin-top: 10px;

			&.unblock {
				background-color: $secondary_color;
			}
		}
		.arsenal-settings-container {
			.language-card-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 10px;
				.language-data-container {
					display: flex;
					align-items: center;
					width: 100%;
					.language-icon-image {
						width: 60px;
						height: 60px;
						padding-right: 10px;
					}
				}
			}
		}
		.content-settings-container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			.content-setting-banner {
				width: 100%;
			}
			.content-card-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 60px;
				width: 100%;
				margin-bottom: 10px;
			}
		}
		.settings_language_selector_container {
			width: 100%;
		}

		.settings_country_selector_container {
			width: 100%;
			margin-top: 10px;
		}

	}
}
.settings_menu_item_image {
	height: initial;
	width: 26px;
	display: inline-block;
	margin-right: 10px;
}

.crop-dialog {
	max-width: none;
}
