@import '~styles/colors';

.question-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.question-text {
		max-height: 50%;
		padding: 20px;
		margin-bottom: 40px;
		// https://stackoverflow.com/questions/4413015/browser-compatible-word-wrap-and-whitespace-pre
		white-space: -moz-pre-wrap; /* Firefox */
		white-space: -pre-wrap; /* ancient Opera */
		white-space: -o-pre-wrap; /* newer Opera */
		white-space: pre-wrap; /* Chrome; W3C standard */
		word-wrap: break-word; /* IE */
	}
	.placeholder-container {
		margin: 20px;
		text-align: center;
	}
	.fill-in-answers-container {
		margin: 20px;
		.fill-in-item {
			font-family: monospace;
			font-size: 18px;
			> span {
				display: inline-block;
				height: 17px;
				font-size: 18px;
			}
		}
		* {
			word-break: break-all;
		}
		.placeholder-dnd-item-wrapper {
			display: inline-block;
			.placeholder-dnd-item {
				display: flex;
				justify-content: center;
				align-items: flex-end;
				border-bottom: 1px solid black;
				text-align: center;
				height: 20px;
				margin: 0 2px;
			}
		}
	}
	.answer-input-field {
		overflow: hidden;
	}
	.reorder-item {
		cursor: grab;
		.drag-icon {
			color: $main_text_color;
		}
		.unselectable-text {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
}
