
.course-selector {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.certificate-container {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
