@import '~styles/colors';
@import '~styles/medias';

.background-icon-button {
	width: 45px;
	height: 45px;
	border-radius: 3px;
	margin-right: 5px;
	cursor: pointer;
	border: 1px solid $primary_color;
}

@include for-until-desktop {
	.background-icon-button {
		width: 25px;
		height: 25px;
	}
}
