.feed-header {
	cursor: pointer;
	padding: 15px;
	.details-wrapper {
		display: flex;
		align-items: center;
		.details {
			flex: 2 auto;
			margin: 0 0 0 8px;
			.user-name {
				font-size: 16px;
				font-weight: 500;
				color: #5d5b5b;
			}
			.leaderboard-link {
				font-size: 12px;
				font-weight: 500;
				text-decoration: none;
				color: #607d8b;
				margin: 5px 0;
				display: block;
			}
			.progress-wrapper {
				text-align: right;
				.user-status {
					font-size: 11px;
					color: #777;
				}
			}
		}
	}
	.actions {
		margin: 10px 0 0 0;
		text-align: right;
	}
}
