@import '~styles/colors';
$heading-size: 15px;
$heading-line-height: 11px;
$heading-weight: 400;
$heading-color: $primaryColor;

.atom_heading {
  text-transform: uppercase;
	font-size: $heading-size;
	line-height: $heading-line-height;
  color: $heading-color;
  font-weight: $heading-weight;
}