@import '~styles/medias';
@import '~styles/colors';
@import '~styles/variables';

.molecule_layout {
	&.fullscreen {
		display: grid;
		grid-template-columns: auto 400px;
    align-items: start;
		max-width: 100%;
		padding-top: $header_size;
		padding-right: 0;
		padding-left: 0;
		.playground_full-loading {
			height: calc(100vh - #{$header_size});
		}
		.playground_main-container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			padding: 0;
			height: calc(100vh - #{$header_size});
			overflow-y: hidden;
			border-radius: 0;
			position: relative;
			.playground_run-button {
				right: 8px;
				width: 92px;
				.molecule_fab-button-root {
					bottom: 8px;
					width: 92px;
					height: 32px;
					border-radius: 17px;
					background-color: $primary_colored_text;
					box-shadow: none;
				}
				.playground_run-text {
					font-weight: 700;
					text-transform: initial;
					color: white;
					margin-left: 12px;
				}
			}
		}
		.playground_sidebar {
			height: calc(100vh - #{$header_size});
			overflow-y: scroll;
			.scrollbar {
				overflow-y: scroll;
			}
			.comments-container {
				padding: 0 16px;
				margin-top: 0;
				box-shadow: none;
				border-radius: 0;
				margin-bottom: 140px;
			}
		}
	}
	&.no-sidebar {
		grid-template-columns: minmax(0, 1fr);
	}
}

.playground_main-container.bordered {
	border: 1px solid $secondary_background_color;
}
