@import '~styles/medias';
@import '~styles/colors';
@import '~styles/variables';

.molecule_layout {
	&.fullscreen {
		display: grid;
		grid-template-columns: minmax(0, 5fr) minmax(0, 2fr);
    align-items: start;
		max-width: 100%;
		padding-top: $header_size;
		padding-right: 0;
		padding-left: 0;
		.playground_full-loading {
			height: calc(100vh - #{$header_size});
		}
		.playground_main-container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			padding: 0;
			height: calc(100vh - #{$header_size});
			overflow-y: hidden;
		}
		.playground_sidebar {
			height: calc(100vh - #{$header_size});
			overflow-y: scroll;
			.comments-container {
				margin-top: 0;
				box-shadow: none;
				border-radius: 0;
			}
		}
	}
	&.no-sidebar {
		grid-template-columns: minmax(0, 7fr);
	}
}

.playground_main-container.bordered {
	border: 1px solid $secondary_background_color;
}
