@import '~styles/colors';

.playground_split-pane-container {
	position: relative;
	height: 600px;
	&.split-pane_inline {
		height: 200px;
	}
	&.split-pane_fullscreen {
		height: calc(100vh - 50px);
	}
}

.Resizer {
	background:$primary_color;
	opacity: 1;
	z-index: 1;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

.Resizer:hover {
	transition: all 150ms ease;
}

.Resizer.horizontal {
	height: 13px;
	margin: -5px 0;
	border-top: 5px solid rgba(255, 255, 255, 0);
	border-bottom: 5px solid rgba(255, 255, 255, 0);
	cursor: row-resize;
	width: 100%;
}

.Resizer.horizontal:hover {
	border-top: 5px solid rgba(0, 0, 0, 0.1);
	border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.Resizer.disabled {
	cursor: initial;
}
.Resizer.disabled:hover {
	border-color: transparent;
}

.Pane.Pane1 {
	max-height: 100%;
	flex-direction: column;
}

.Pane.Pane2 {
	height: 200px;
	overflow-y: auto;
}
