@import '~styles/colors';
@import '~styles/variables';

.playground_split-pane-container {
	position: relative;
	height: calc(100vh - #{$header_size});
	&.split-pane_inline {
		height: 200px;
	}
	&.dark {
		.Resizer {
			background: $content_text_color;
		}
	}
}

.Resizer {
	background: $white;
	opacity: 1;
	z-index: 1;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

.Resizer:hover {
	transition: all 150ms ease;
}

.Resizer.horizontal {
	height: 8px;
	margin-bottom: -5px;
	border-top: 0;
	border-bottom: 5px solid rgba(255, 255, 255, 0);
	cursor: row-resize;
	width: 100%;
}

.Resizer.horizontal:hover {
	border-top: 0;
	border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.Resizer.disabled {
	cursor: initial;
}
.Resizer.disabled:hover {
	border-color: transparent;
}

.Pane.Pane1 {
	max-height: 100%;
	flex-direction: column;
}

.Pane.Pane2 {
	height: 45px;
	overflow-y: auto;
}
