@import '~styles/variables';
@import '~styles/colors';

.feed-sidebar {
	.discover-peers {
		border: 1px solid $border-color;
		padding-left: 0;
		padding-right: 0;

		.discover-peers-heading {
			padding-left: 14px;
		}

		.discover-peers-shimmer {
			padding-left:14px;
		}

		.discover-peers-list {
			padding-left: 14px;
			padding-right: 14px;
		}

		.feed-sidebar_view-more {
			margin-top: $primary_gap_size;
			align-self: center;
			text-transform: none;
			color: #009085;
			font-weight: bold;
		}

		.discover-peers-li {
			margin:20px 0;
			.profile {
				display: block;
			}
			.discover-profile-info {
				margin-left: 12px;
				.follower-icon {
					margin-right: 2px;
				}
				.follow-button {
					margin-top: 8px;
					width: 86px;
				}
				.followers {
					color: $icon_color;
				}
			}
			.profile-name {
				max-width: 145px;
				display: inline-block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				.name {
					margin-right: 8px;
				}
				.badge {
					margin-right: 8px;
				}
			}
			&:first-of-type {
				margin-top: 2px;
			}
			&:last-of-type {
				margin-bottom: 21px;
			}
		}
	}
	.profile-info {
		margin-bottom: $secondary_gap_size;
		border: 1px solid $border-color;
		.avatar {
			margin-top: 2px;
			.profile-info_avatar {
				position: relative;
				.profile-info_badge {
					position: absolute;
					width: 35%;
					bottom: 5%;
					right: 5%;
				}
			}
		}
		.username {
			margin-top: $primary_gap_size;
			margin-bottom: 14px;
		}
		.progress-section {
			.progress-bar {
				width: 100%;
				.progress-bar_main {
					border-radius: 10px;
					.atom_progress-bar {
						background-color: $primary_color_hover;
					}
				}
			}
		}
		.activity_stats {
			margin-top: 27px;
		}
		.badge {
			margin: 0 $secondary_gap_size;
		}
		.section-stats {
			.name {
				text-transform: capitalize;
				font-weight: 700;
				font-size: 12px;
				margin-bottom: 4px;
			}
			.stat {
				font-weight: 700;
				font-size: 16px;
				color: $primary_color_hover;
			}
		}
	}
}
