@{ 
    Layout = null;
}
<html>
<!--                                                                                                                                                                                                                                                                                                                                                                                                                                                     
RRRRRRRRRRRRRRRRR                         ffffffffffffffff                                        lllllll TTTTTTTTTTTTTTTTTTTTTTThhhhhhh                                   1111111                             tttt          
R::::::::::::::::R                       f::::::::::::::::f                                       l:::::l T:::::::::::::::::::::Th:::::h                                  1::::::1                          ttt:::t          
R::::::RRRRRR:::::R                     f::::::::::::::::::f                                      l:::::l T:::::::::::::::::::::Th:::::h                                 1:::::::1                          t:::::t          
RR:::::R     R:::::R                    f::::::fffffff:::::f                                      l:::::l T:::::TT:::::::TT:::::Th:::::h                                 111:::::1                          t:::::t          
  R::::R     R:::::R  aaaaaaaaaaaaa     f:::::f       ffffff  aaaaaaaaaaaaa       eeeeeeeeeeee     l::::l TTTTTT  T:::::T  TTTTTT h::::h hhhhh           eeeeeeeeeeee       1::::1       ssssssssss   ttttttt:::::ttttttt    
  R::::R     R:::::R  a::::::::::::a    f:::::f               a::::::::::::a    ee::::::::::::ee   l::::l         T:::::T         h::::hh:::::hhh      ee::::::::::::ee     1::::1     ss::::::::::s  t:::::::::::::::::t    
  R::::RRRRRR:::::R   aaaaaaaaa:::::a  f:::::::ffffff         aaaaaaaaa:::::a  e::::::eeeee:::::ee l::::l         T:::::T         h::::::::::::::hh   e::::::eeeee:::::ee   1::::1   ss:::::::::::::s t:::::::::::::::::t    
  R:::::::::::::RR             a::::a  f::::::::::::f                  a::::a e::::::e     e:::::e l::::l         T:::::T         h:::::::hhh::::::h e::::::e     e:::::e   1::::l   s::::::ssss:::::stttttt:::::::tttttt    
  R::::RRRRRR:::::R     aaaaaaa:::::a  f::::::::::::f           aaaaaaa:::::a e:::::::eeeee::::::e l::::l         T:::::T         h::::::h   h::::::he:::::::eeeee::::::e   1::::l    s:::::s  ssssss       t:::::t          
  R::::R     R:::::R  aa::::::::::::a  f:::::::ffffff         aa::::::::::::a e:::::::::::::::::e  l::::l         T:::::T         h:::::h     h:::::he:::::::::::::::::e    1::::l      s::::::s            t:::::t          
  R::::R     R:::::R a::::aaaa::::::a   f:::::f              a::::aaaa::::::a e::::::eeeeeeeeeee   l::::l         T:::::T         h:::::h     h:::::he::::::eeeeeeeeeee     1::::l         s::::::s         t:::::t          
  R::::R     R:::::Ra::::a    a:::::a   f:::::f             a::::a    a:::::a e:::::::e            l::::l         T:::::T         h:::::h     h:::::he:::::::e              1::::l   ssssss   s:::::s       t:::::t    tttttt
RR:::::R     R:::::Ra::::a    a:::::a  f:::::::f            a::::a    a:::::a e::::::::e          l::::::l      TT:::::::TT       h:::::h     h:::::he::::::::e          111::::::111s:::::ssss::::::s      t::::::tttt:::::t
R::::::R     R:::::Ra:::::aaaa::::::a  f:::::::f            a:::::aaaa::::::a  e::::::::eeeeeeee  l::::::l      T:::::::::T       h:::::h     h:::::h e::::::::eeeeeeee  1::::::::::1s::::::::::::::s       tt::::::::::::::t
R::::::R     R:::::R a::::::::::aa:::a f:::::::f             a::::::::::aa:::a  ee:::::::::::::e  l::::::l      T:::::::::T       h:::::h     h:::::h  ee:::::::::::::e  1::::::::::1 s:::::::::::ss          tt:::::::::::tt
RRRRRRRR     RRRRRRR  aaaaaaaaaa  aaaa fffffffff              aaaaaaaaaa  aaaa    eeeeeeeeeeeeee  llllllll      TTTTTTTTTTT       hhhhhhh     hhhhhhh    eeeeeeeeeeeeee  111111111111  sssssssssss              ttttttttttt                                                                                                                                                                                                                                                                                                                                                 
-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoloLearn</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <script>
        document.domain = "sololearn.com";
    </script>
</head>
<body>
    <div id="app"></div>
    <iframe src="http://api.sololearn.com/index.html" style="display: none;" id="service-frame"></iframe>
    <script src="/dist/app.bundle.js"></script>
</body>
</html>
