@{ 
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoloLearn</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <script>
        document.domain = "sololearn.com";
    </script>
</head>
<body>
    <div id="app"></div>
    <iframe src="http://api.sololearn.com/index.html" style="display: none;" id="service-frame"></iframe>
    <script src="/dist/app.bundle.js"></script>
</body>
</html>
