.success-popup-molecul-container {
	min-width: 300px;
	padding: 15px;
	.success-popup-molecul-icon {
		width: 100px;
		height: 100px;
		color: #17A68A;
	}
	.success-popup-molecul-text {
		padding: 15px 0;
	}
}
