@import 'shimmer';

.shimmer-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.discuss-shimmer-animation {
	    @extend %shimmer-container;
	    width: 100%;
	    height: 100%;
	    opacity: 0.5;
	}

	.discuss-shimmer-container {
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
			position: absolute;
	    height: 100px;
	    width: 50vw;
			.placeholder {
				background-color: $shimmer-dark-color;
			}
			.discuss-content-placeholder {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 70%;
				.post-name {
					height: 18px;
					width: 40%;
				}
				.post-topics {
					height: 18px;
					width: 30%;
				}
				.post-tags {
					display: flex;
					justify-content: space-between;
					width: 50%;
					.tag {
						height: 20px;
					}
					.tag1 {
						width:  25%;
					}
					.tag2 {
						width: 15%;
					}
					.tag3 {
						width: 20%;
					}
				}
			}
			.discuss-date-placeholder {
				justify-content: flex-end;
				height: 16px;
				width: 10%;
				margin-left: auto;
			}
		}
}

// background-color: $shimmer-dark-color;
