@import 'shimmer';

%shimmer-line {
	background-color: $shimmer-dark-color;
	height: 10px;
	margin: 0;
}

.discuss-shimmer-shimmer {
	@extend %shimmer-container;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.shimmer-wrapper {
	width: 100%;
	.discuss-shimmer-container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 15px;
		height: 80px;
		border-bottom: 1px solid #EFEFEF;
		.discuss-content-placeholder {
			.post-line {
				@extend %shimmer-line;
				margin-bottom: 10px;
				&.short {
					width: 200px;
				}
				&.medium {
					width: 260px;
				}
			}
			.post-tags {
				display: flex;
				justify-content: space-between;
				width: 50%;
				.tag {
					height: 12px;
				}
				.tag1 {
					width:  40%;
				}
				.tag2 {
					width: 30%;
				}
				.tag3 {
					width: 25%;
				}
			}
		}
		.date-container {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			.discuss-date-post-line {
				@extend %shimmer-line;
				width: 15%;
				margin-bottom: 10px;
			}
		}
	}
}

// background-color: $shimmer-dark-color;
