.molecule_fab {
	position: absolute;
	width: 56px;
	height: 0;
	top: 0;
	bottom: 0;
	.molecule_fab-button-root {
		position: fixed;
		bottom: 25px;
		z-index: 1;
	}
	&.left {
		left: 20px
	}
	&.right {
		right: 20px;
	}
}
