@import '~styles/colors';
@import '~styles/medias';

.user-post-main-container {
	min-width: 520px;
	min-height: 300px;
	.user-post-main-title {
		margin-bottom: 5px;
	}
	.profile-avatar-container {
		margin: 5px 0;
	}
	.add-image-and-backgrounds-container {
		flex-direction: column;
		.add-image-chip {
			margin: 10px 0;
			padding: 5px;
			.add-image-icon {
				color: $primary_color;
			}
		}
		.backgrounds-container {
			margin: 5px 0;
			align-self: center;
		}
	}

	.user-post-image-preview-container {
		position: relative;
		.image-preview-remove-icon {
			position: absolute;
			color: white;
			right: 5px;
			top: 5px;
			z-index: 200;
			mix-blend-mode: difference;
		}
		.user-post-image-preview {
			max-width: 200px;
			border-radius: 3px;
		}
	}
	.user-post-max-length-container {
		margin: 5px 0;
	}
}

.user-post-loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 520px;
	min-height: 498px;
}

@include for-until-desktop {
	.user-post-main-container {
		min-width: 390px;
	}
	.user-post-loader-container {
		min-width: 400px;
		min-height: 488px;
	}
}
