@import '~styles/colors';
@import '~styles/medias';

.user-post-main-container {
	padding: 16px;
	min-height: 249px;
	.user-post-main-title {
		margin-bottom: 5px;
		padding: 10px;
	}
	.user-post-main-content {
		min-width: 400px;
		height: 100%;
		.up-top-bar {
			padding: 0 15px;
			// .emojiSelect {
			// 	height: 200px;
			// }
		}
		.up-editor-actions-container {
			.add-image-icon {
				height: 48px;
				width: 48px;
				color: $primary_color;
				&:hover {
					cursor: pointer;
				}
			}
			.backgrounds-container {
				margin: 5px 0;
				align-self: center;
				flex-flow: wrap;
			}
		}
		.up-loader-container {
			min-height: 249px;
			height: 100%;
		}
		.user-post-image-preview-container {
			position: relative;
			margin-top: 5px;
			.image-preview-remove-icon {
				position: absolute;
				color: white;
				right: 5px;
				top: 5px;
				z-index: 200;
				mix-blend-mode: difference;
			}
			.user-post-image-preview {
				max-width: 200px;
				border-radius: 3px;
			}
		}
		.up-inner-container {
			.up-editor-profile-avatar {
				padding-right: 24px;
			}
		}
	}
}

@include for-until-desktop {
	.user-post-main-container {
		.user-post-main-content {
			min-width: 0;
		}
	}
}
