@import '~styles/variables';
@import '~styles/colors';

.quiz_factory-rate {
	.loading-container {
		height: 100%;
	}
	.challenge-item {
		width: 100%;
		min-height: $empty_card_size;
		margin-bottom: $primary_gap_size;
	}
	.check {
		width: 100%;
		flex-direction: row-reverse;
		justify-content: space-between;
		margin-bottom: $primary_gap_size;
	}
	.dislike {
		background-color: $error-red;
		color: $white;
	}
	.vote-icon {
		color: $white;
	}
}
