@import '~styles/variables';
@import '~styles/colors';

.quiz_factory-suggest-list {
	.item {
		width: 100%;
		justify-content: space-between;
		margin: $secondary_gap_size;
		.image {
			width: 40px;
			margin-right: $secondary_gap_size;
		}
	}
}

.quiz_factory {
	.container {
		margin-bottom: $primary_gap_size;
		.select-language {
			cursor: pointer;
		}
		.title { 
			margin-bottom: $primary_gap_size;
		}
		.question {
			.text {
				resize: none;
			}
		}
	}
	.fill-in {
		.editor {
			min-height: $expanded_editor_height;
			.marked {
				background-color: $primary_color;
				color: $white;
			}
		}
	}
}
