.molecule_icon-menu {
	padding: 0;
}
.molecule_icon-menu-popper {
	z-index: 10;
	.grow {
		&.bottom {
			transform-origin: center top;
		}
		&.top {
			transform-origin: center bottom;
		}
		padding: 12px 0;
		min-width: 235px;
		.list {
			padding: 0;
		}
	}
}
