@import '~styles/colors';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$arrow-size: 30px;

.molecule_slider-root.slick-slider {
	.slick-arrow {
		z-index: 1;
		&.slick-disabled {
			opacity: .3;
		}
		&:before {
			transition: opacity .2s;
			font-family: 'Material Icons';
			font-size: $arrow-size;
			line-height: $arrow-size;
			opacity: .5;
		}
		&:not(.slick-disabled){
			&:hover {
				&:before {
					opacity: 1;
				}
			}
		}
	}

	.slick-prev, .slick-next {
		width: $arrow-size;
		height: $arrow-size;
		&:before {
			color: $main_text_color;
		}
	}

	.slick-prev {
		&:before {
			content: 'chevron_left';
		}
	}

	.slick-next {
		&:before {
			content: 'chevron_right';
		}
	}
}

