@import '~styles/variables';
@import '~styles/colors';

$icon_size: 20px;

.code-item-wrapper {
	display: flex;
	color: inherit;
	.user {
		margin-right: $secondary_gap_size;
	}
	.details-wrapper {
		align-items: flex-start;
		.stats {
			display: inline-flex;
			align-items: center;
			.code_item-lock {
				height: $icon_size;
				width: $icon_size;
				color: $secondary_text_color;
			}
		}
	}
}
