@import '~styles/variables';
@import '~styles/colors';

$icon_size: 18px;

.code-item-wrapper {
	display: flex;
	align-items: stretch;
	color: inherit;
	.code-item-language-card {
		width: 45px;
		height: 45px;
	}
	.user {
		margin-right: $secondary_gap_size;
	}
	.details-wrapper {
		align-items: flex-start;
		.stats {
			display: inline-flex;
			align-items: center;
			.code_item-lock {
				height: $icon_size;
				width: $icon_size;
				color: $icon_color;
			}
		}
		.code-item-user-details {
			align-items: flex-end;
			.code-item-user-name {
				margin-right: 10px;
			}
		}
	}
}
