@import '~styles/colors';
@import '~styles/variables';

.atom_label {
	display: inline-flex;
  align-items: center;
  justify-content: center;
	font-size: $label_text_size;
	padding: 2px ($label_text_size / 2);
}
