@import '~styles/variables';
@import '~styles/colors';

.organism_counting-mention-input {
	.DraftEditor-root {
		max-height: 200px;
		overflow: auto;
	}
	.expanded {
		min-height: $expanded_editor_height;
		.DraftEditor-editorContainer {
			min-height: inherit;
		}
		.public-DraftEditor-content {
			min-height: inherit;
		}
	}
	.bottom-toolbar-container {
		justify-content: flex-end;
		.comments_submit-button {
			color: $white;
			margin-top: 12px;
		}
	}
}
