.editor {
  box-sizing: content-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 0;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  &.expanded {
    .DraftEditor-root {
      height: 100%;
    }
  }
}

.editor :global(.public-DraftEditor-content) {
	overflow: auto;
}
