@import '~styles/variables';
@import '~styles/colors';

.editor {
  box-sizing: content-box;
  border: 1px solid $border-color;
  cursor: text;
  padding: 11px;
  border-radius: 20px;
	margin-bottom: 0;
	margin-left: $primary_gap_size;
  background: $background_color;
  &.expanded {
    .DraftEditor-root {
			word-break: break-word;
      min-height: $expanded_editor_height;
    }
  }
}

.editor :global(.public-DraftEditor-content) {
	overflow: auto;
}
