.module-line-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	.module {
		padding: 20px 0;
		text-align: center;
		.content {
			display: flex;
			flex-direction: column;
			text-decoration: none;
			justify-content: center;
			align-items: center;
			.module-circle {
				height: 100px;
				width: 100px;
				background: #8BC34A !important;
				transition: all ease-in 150ms;
				position: relative;
				.module-image {
					margin: 5px;
					height: 90px;
					width: 90px;
					pointer-events: none;
				}
				&.active {
					background: #607D8B !important;
					&:hover {
						background: #587583 !important;
					}
				}
				&.disabled {
					background: #DDDDDD !important;
					svg {
						display: none;
					}
				}
				&:hover {
					&:not(.disabled) {
						box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px !important;
						&:not(.active) {
							background: #83BB42 !important;
						}
					}
				}
			}
			.module-name {
				display: block;
				font-weight: 300;
				color: #777;
				margin: 10px 0 0 0;
			}
			&.none {
				max-width: 100%;
			}
		}
	}
	&.none {
		width: 50%;
	}
}
