.user-progress-toolbar {
	padding: 15px;
	.main-user-info {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		.details {
			padding-top: 10px;
			text-align: center;
			.user-name {
				font-size: 16px;
				font-weight: 500;
				color: #5d5b5b;
			}
			.user-level {
				font-size: 14px;
				color: rgba(0, 0, 0, 0.5);
			}
		}
	}
	.leaderboard-link {
		font-size: 14px;
		justify-content: center;
		margin: 10px 0;
	}
	.user-level-info {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 5px;
		> * {
			flex: 1;
		}
		.level-graph-container {
			display: flex;
			width: 70px;
			margin: 0 10px;
			justify-content: center;
			align-items: center;
			text-align: center;
			position: relative;
			.level-graph-text {
				text-transform: uppercase;
				font-size: 14px;
				color: #5d5b5b;
				font-weight: 500;
				width: 45px;
				> span {
					font-size: 16px;
				}
			}
			.CircularProgressbar {
				top: 0;
				left: 0;
			}
		}
		.xp-remaining {
			text-align: left;
		}
		p {
			color: #5d5b5b;
			font-size: 13px;
		}
	}
	.user-activity-info {
		display: flex;
		padding-top: 15px;
		.user-activity-tab {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex: 1;
			.activity-number {
				font-size: 20px;
				color: #5d5b5b;
			}
			.activity-text {
				color: #5d5b5b;
				font-size: 13px;
			}
			&:not(:last-of-type) {
				border-right: 1px solid rgba(0, 0, 0, 0.2);
			}
		}
	}
}
