@import '~styles/variables';

.discuss_tags {
	flex-wrap: wrap;
	.tag {
		margin: $secondary_gap_size $secondary_gap_size $secondary_gap_size 0;
		font-size: 12px;
		font-weight: bold;
		color: #009085;
		margin: 6px 6px 6px 0;
	}
}
