@import "~styles/medias";
@import "~styles/colors";

.sidebar-placeholder {
	position: relative;
	width: 288px;
	.sidebar-wrapper {
		position: absolute;
		width: inherit;
		.sidebar-main-content {
			min-height: 20px;
		}
		.sidebar-static-pages {
			display: flex;
			justify-content: center;
			padding: 16px 0;
			.static-link {
				display: inline-block;
				color: $icon_color;
				padding: 0 20px;
				font-size: 12px;
				&:not(:last-child) {
					border-right: 1px solid #CCCCCC;
				}
			}
		}
		&.sticky {
			position: fixed;
		}
	}
}

@include for-until-tablet {
	.sidebar-placeholder {
		display: none;
	}
}
