@import '~styles/variables';
@import '~styles/colors';

.discuss_post {

	.main-post{
		padding: 16px;
	}

	.loading-question {
		min-height: $empty_card_size;
		width: 100%;
		height: 100%;
	}
	.replies {
		width: 100%;
		display: flex;
		flex-direction: column;

		.post{
			padding: 16px;
		}

		.add-reply {
			margin-bottom: $primary_gap_size;
			display: flex;
			padding: 12px;
			flex-direction: column;

			.reply-editor{
				border-radius: 4px;
				background-color: $white;
				width: 100%;
			}

			.post-button {
				margin:4px 0 4px 16px;
				&.enabled {
					color: $white;
					background-color: $primary_color;
				}
			}
		}
		
		.filters {
			margin:0 23px;

			.filter{
				margin-right: 16px;
			}
			
			.title {
				margin-right: $secondary_gap_size;
			}
		}
	}
	.editing-post {
		align-items: flex-end;
		width: 100%;
		.buttons {
			display: flex;
			justify-content: flex-end;
			.cancel {
				margin-right: $secondary_gap_size;
			}
		}
	}

	.post {
		display: flex;
		width: 100%;
		&.accepted {
			border: 1px solid #19BC9C;//$secondary_color;
		}

		.user-avatar{
			margin-right: 16px;
		}

		.info {
			width:100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.options{
				font-size: 13px;
				font-weight: bold;
				color: $primary_color_hover;
				align-items: end;
				min-width: 120px;
			}

			.toolbar {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				.accepted-icon {
						&:hover,
						&.active {
							color: $secondary_color;
						}
				}
			}
			.question {
				display: flex;
				width: 100%;
				min-width: 0;
				flex-direction: column;
				align-items: flex-start;
				word-break: break-word;
				.question-preview-container {
					max-width: 100%;
				}

				.edit-message{
					margin-top: 10px;
				}

				.title-content{
					font-size: 20px;
					font-weight: 600;
				}

				.tags{
					margin-top: 16px;
				}

				 .message, .preview {
					margin: $secondary_gap_size 0 0 0;
				}
			}
		}
		.user {
			margin-top: $secondary_gap_size;
			align-self: flex-end;
			display: flex;
			.name-date {
				display: flex;
				flex-direction: column;
				margin-right: 5px;
				text-align: end;
			}
		}
	}
}
