@import '~styles/variables';
@import '~styles/colors';

$icon_accepted_color: $primary_colored_text;

.discuss_post {

	.main-post{
		padding: 16px 12px 12px 16px;
	}

	.loading-question {
		min-height: $empty_card_size;
		width: 100%;
		height: 100%;
	}
	.replies {
		width: 100%;
		display: flex;
		flex-direction: column;

		.post{
			padding: 16px 12px 12px 16px;
			.reply-edit-delete-icon {
				margin-top: -16px;
				cursor: pointer;
				color: $icon_color;
			}
		}

		.add-reply {
			margin-bottom: $primary_gap_size;
			display: flex;
			padding: 12px 16px;
			flex-direction: column;
			font-size: 14px;
			font-weight: bold;
			.reply-editor{
				margin-left: 16px;
				border-radius: 4px;
				background-color: $white;
				width: 100%;
			}
			.add-reply-action-container {
				&.expanded {
					margin-top: 8px;
				}
				.post-button {
					&.enabled {
						color: $white;
						background-color: $primary_color;
					}
				}
				.add-reply-button-label {
					color: unset;
					padding-left: 4px;
					&.enabled {
						color: $white;
					}
				}
			}
		}
		.cancel-button {
			font-size: 15px;
			font-weight: bold;
			border: none;
			padding: 5px;
			background: none;
		}

		.filters {
			margin:0 18px;

			.filter{
				margin-right: 16px;
			}

			.title {
				margin-right: $secondary_gap_size;
			}

			.filter-comments-count {
				font-weight: bold;
				font-size: 14px;
				color: $content_text_color;
				text-transform: uppercase;
			}
		}
	}
	.editing-reply {
		.editing-reply-input-container {
			height: 138px;
			overflow: auto;
			margin: 0;
			padding: 10px;
			word-break: break-all;
			border: 1px solid $border-color;
			border-radius: 4px;
			.editing-reply-input-inner-container {
				.editing-reply-input {
					height: 100px;
					margin: 0;
					padding: 0;
					border: none;
				}
			}
		}
		.editing-reply-button {
			margin-left: 24px;
		}
		.buttons {
			margin: 8px 0 -4px 0;
			display: flex;
			justify-content: flex-end;
		}
	}

	.post {
		display: flex;
		width: 100%;
		&.accepted {
			border: 1px solid $icon_accepted_color;
		}

		.user-avatar {
			margin-right: 16px;
		}

		.info {
			width:100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.options {
				font-size: 13px;
				font-weight: bold;
				color: $primary_color_hover;
				min-width: 160px;
				margin-top: -16px;
				.accepted-icon {
					color: $icon_color;
					cursor: pointer;
					&:hover {
						color: $primary_color_hover;
					}
					&.best-answer {
						color: $primary_color_hover;
					}
				}
				.follow-container {
					cursor: pointer;
					margin-right: 8px;
					.follow-text {
						font-size: 13px;
						font-weight: bold;
						color: $primary_color_hover;
					}
				}
			}

			.toolbar {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}
			.question {
				display: flex;
				width: 100%;
				min-width: 0;
				flex-direction: column;
				align-items: flex-start;
				word-break: break-word;
				.title-and-options-container {
					align-items: flex-start;
				}
				.discuss-reply-item-vote-actions {
					margin-bottom: -8px;
					margin-left: -13px;
				}
				.question-preview-container {
					max-width: 100%;
				}

				.edit-message-container {
					margin-top: 16px;
					&.other-margin {
						margin-top: 10px;
					}
					.edit-message-icon {
						padding-right: 8px;
						color: $icon_color;
					}
					.edited-message {
						font-size: 12px;
						font-style: italic;
					}
				}

				.title-content {
					font-size: 20px;
					font-weight: 600;
				}

				.tags {
					margin-top: 16px;
				}

				 .message, .preview {
					margin: $secondary_gap_size 48px 0 0;
				}

				.reply-message {
					margin: -8px 48px 0 0;
				}

				.reply-item-date {
					white-space: nowrap;
					margin: 8px 12px 0 0;
				}
				.author {
					min-width: 214px;

					.text {
						white-space: nowrap;
					}

					.author-name {
						display: block;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}

					.badge {
						align-items: flex-start;
						margin-left: 8px;
					}
				}
				.statistics-container {
					.statistics-date {
						white-space: nowrap;
						margin: 13px 12px 0 0;
					}
				}
			}
		}
		.user {
			margin-top: $secondary_gap_size;
			align-self: flex-end;
			display: flex;
			.name-date {
				display: flex;
				flex-direction: column;
				margin-right: 5px;
				text-align: end;
			}
		}
	}
}
