@import '~styles/variables';
@import '~styles/colors';

.discuss_post {
	.replies {
		width: 100%;
		display: flex;
		flex-direction: column;
		.add-reply {
			margin-bottom: $primary_gap_size;
			display: flex;
			flex-direction: column;
			.post-button {
				align-self: flex-end;
				margin-bottom: $primary_gap_size;
				&.enabled {
					color: $white;
					background-color: $primary_color;
				}
			}
		}
		.replies-toolbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: $primary_gap_size;
		}
	}
	.post {
		display: flex;
		flex-direction: column;
		&.accepted {
			border-left: $secondary_gap_size solid $secondary_color;
		}
		.info {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.toolbar {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				.accepted-icon {
						&:hover,
						&.active {
							color: $secondary_color;
						}
				}
			}
			.question {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				.title, .tags, .message {
					margin: $secondary_gap_size 0 0 0;
				}
			}
		}
		.user {
			align-self: flex-end;
			display: flex;
			.name-date {
				display: flex;
				flex-direction: column;
				margin-right: 5px;
				text-align: end;
			}
		}
	}
}
