<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>SoloLearn</title>
		<link rel="shortcut icon" href="https://www.sololearn.com//Images/favicon.ico">
		<link rel="icon" type="image/png" href="https://www.sololearn.com//Images/favicon-192x192.png" sizes="192x192" style="background-color:#fff">
		<link rel="apple-touch-icon" sizes="180x180" href="https://www.sololearn.com//Images/favicon-180x180.png" style="background-color:#fff">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<noscript id="css-insertion-point"></noscript>
	</head>
	<body>
		@Html.Raw(ViewData["message"])
	</body>
</html>
