@import '~styles/variables';
.achievement {
	display: flex;
	align-items: center;
	.badge-base {
		height: 60px;
		width: 60px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
	}
	.badge-icon {
		width: 80%;
	}
	.details {
		padding: 10px 12px;
	}

	.title {
		font-weight: 500;
	}

	.description {
		margin-left: $secondary_gap_size;
	}
}

