.challenge {
	display: flex;
	justify-content: center;
	align-items: center;

	.username {
		width: 60px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    text-align: center;
	}

	.score {
		font-size: 25px;
		font-weight: 500;
		margin: 0px 10px;
	}
}

	