.feedItemWrapper {
	.challenge {
		display: flex;
		justify-content: center;
		align-items: center;
		.user-container {
			width: 60px;
			white-space: nowrap;
			text-align: center;

			.username {
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
		}
		

		.score {
			font-size: 25px;
			font-weight: 500;
			margin: 0px 10px;
		}
	}
}


	