@import '~styles/colors';

.feed-post-container {
	.post {
		display: flex;
		width: inherit;
		padding: 16px 12px;
		margin-top: 12px;
		background-color: $background_color;
		position: relative;
		border: 1px solid $border-color;
		border-radius: 4px;
		background-color: #F9FAFA;
		&:hover {
			text-decoration: none;
		}
	}
	.postName {
		margin: 0 10px;
		flex: 2;
		font-size: 15px;
		color: $content_text_color;
		word-break: break-word;
	}
}
