@import '~styles/variables';
@import '~styles/colors';

.discuss_question-editor {
	padding: 12px 16px 16px 16px;
	.question-heading {
		margin-bottom: 16px;
	}
	.close-icon {
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
	.user-avatar {
		margin-right: 16px;
	}
	.discuss-main-wrapper {
		padding-top: 15px;
		flex: 1;
		.author {
			margin-bottom: $primary_gap_size;
			.user-name {
				margin-right: $secondary_gap_size;
			}
		}
		.counting-input {
			.title-input-container {
				fieldset {
					border: none;
				}
			}
			.tags-input-root {
				border: 1px solid $border-color;
				border-radius: 4px;
				fieldset {
					border: none;
				}
			}
			.tags-chip-container {
				.tags-chip {
					background-color: #F4F5F5;
					border-radius: 12px;
					opacity: 0.8;
					.tags-label {
						color: $content_text_color;
						font-family: 'Muli SemiBold';
						font-size: 14px;
						font-weight: 600;
					}
					.tags-delete-icon {
						width: 14px;
						height: 14px;
						color: $content_text_color;
						font-weight: bold;
					}
				}
			}
			.tags-helper-text {
				font-size: $secondary_text_size;
				color: $icon_color;
				opacity: 0.5;
			}
			.count {
				align-self: flex-end;
				margin-top: 4px;
				opacity: 0.5;
			}
		}
		.discuss-input-titles {
			font-size: 14px;

			margin-bottom: $secondary_gap_size;
		}
		.mention-input-container {
			.question-editor-description-input {
				height: 155px;
				overflow: auto;
				word-break: break-all;
				margin: 0;
				.mention-editor-input {
					margin: 0;
					padding: 0;
					border: none;
				}
			}
			.count {
				align-self: flex-end;
				margin-top: 4px;
				opacity: 0.5;
			}
		}
		.discuss-input {
			border: 1px solid $border-color;
			border-radius: 4px;
			padding: 14px;
			margin: 0;
		}
		.react-autosuggest__container {
			flex-grow: 1;
			position: relative;
		}
		.react-autosuggest__suggestions-container {
			padding: 0;
		}
		.react-autosuggest__suggestions-container--open {
			padding: 10;
			position: absolute;
			left: 0;
			right: 0;
			z-index: 1;
			border: 1px solid $border-color;
			border-top: none;
		}
		.react-autosuggest__suggestion {
			display: block;
		}
		.react-autosuggest__suggestions-list {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		.actions-container {
			margin-top: 16px;
			.cancel-button {
				margin-right: 24px;
				padding: 0;
				border: none;
				background-color: unset;
				font-size: 15px;
				font-weight: bold;
			}
			.submit-button {
				font-size: 14px;
				font-weight: bold;
				padding: 11px 24px;
			}
		}
	}
}
