@import '~styles/colors';
@import '~styles/variables';

$text_box_padding: 10px;

.atom_text-box {
	border: 1px solid $secondary_background_color;
	padding: $text_box_padding;
	font-size: $primary_text_size;
}
