@import '~styles/variables';

.profile-container {
	.profile-overlay {
		margin-bottom: 15px;
		.profile-header-container {
			margin-bottom: 10px;
			.header-top-buttons {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				.action-buttons {
					display: flex;
					align-items: center;

					.follow-button {
						margin-left: $secondary_gap_size;
						height: 40px;
					}
				}
			}
			.profile-header-details {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				.user-name {
					font-size: 17px;
					font-weight: 500;
				}
				.user-level {
					font-size: 13px;
				}
				.profile-progress-wrapper {
					position: relative;
					width: 50%;
					.xp-number {
						position: absolute;
						top: 0;
						font-size: 10px;
						font-weight: 500;
						color: white;
						&.left {
							left: 2px;
						}
						&.right {
							right: 2px;
						}
					}
				}
			}
		}

		.feed-icon {
			height: 19px;
		}
	}

	.wrapper-end{
		margin-bottom: 86px;
	}
	.codes-wrapper,
	.discussion-wrapper {
		position: relative;
	}
}

