@import '~styles/variables';
.skills-container {
	.skills-group {
		margin-top: $primary_gap_size;
		padding: $primary_gap_size;
		.skills-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.skills-header {
			text-transform: uppercase;
		}
		.skills-details {
			.leaderboard-link {
				display: block;
				margin: 5px 0;
				font-size: 12px;
				font-weight: 500;
				color: #607d8b;
				text-decoration: none;
			}
			.country-details {
				display: flex;
				align-items: center;
				margin-bottom: 5px;
				img {
					margin-right: 5px;
				}
			}
			.skills-progress-wrapper {
				text-align: right;
				.progress {
					background-color: #dedede;
				}
				.status {
					font-size: 11px;
					color: #777;
				}
				.levels-to-next {
					padding-top: $primary_gap_size;
				}
			}
		}
		.courses {
			flex-wrap: wrap;
			min-height: 100px;
			margin-top: 10px;
			.course {
				display: inline-flex;
				align-items: center;
				flex: 1 1 auto;
				width: calc(100% / 3);
				margin-bottom: 10px;
				.course-progress {
					position: relative;
					margin-right: $secondary_gap_size;
					.course-icon {
						width: 60px;
						height: 60px;
						border-radius: 50%;
					}
				}
				.course-details {
					margin-left: 10px;
					font-weight: 500;
					.course-name {
						font-size: 14px;
					}
					.course-xp {
						font-size: 13px;
						color: #777;
					}
				}
			}
			&.centered {
				justify-content: center;
				align-items: center;
			}
		}
	}
}
